<mat-toolbar color ="primary">
  <span *ngIf ="userIsAuthenticated" >
    <a mat-button routerLink ="/tuitions" routerLinkActive="mat-accent">TutorPedia </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink ="/create" routerLinkActive ="mat-accent">Hire a Tutor</a>
    </li>
  </ul>
  <ul>
    <li *ngIf ="!userIsAuthenticated">
      <a mat-button routerLink ="/login" routerLinkActive ="mat-accent">Login</a>
    </li>
  </ul>
  <ul>
    <li *ngIf ="!userIsAuthenticated">
      <a mat-button routerLink ="/signup" routerLinkActive ="mat-accent">Sign Up</a>
    </li>
  </ul>
  <!-- <ul>
    <li *ngIf ="userIsAuthenticated">
      <button mat-button (click) ="onLogout()">Logout</button>
    </li>
  </ul > -->
  <ul *ngIf="userIsAuthenticated">
    <button mat-button [matMenuTriggerFor]="menu">Author</button>
    <mat-menu #menu="matMenu">
      <!-- <a class="none" color="primary" mat-button [routerLink]="['/proflieEdit',user2.id]">Edit</a> -->

      <button  mat-button [routerLink]="['/profileEdit']">Edit Profile</button>
      <button mat-button [routerLink]="['/profileView']"> View Profile</button>
      <button  mat-button (click)="onLogout()" >Logout</button>
    </mat-menu>
  </ul>

</mat-toolbar>
