
<mat-toolbar color="warn">



</mat-toolbar>



<!-- <div class="jpFooter">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h4>About Us</h4>
        <ul>
          <li><a target="_blank" routerLink="/about">About Job Portal</a></li>
          <li><a target="_blank" routerLink="/terms">Terms & Conditions</a></li>
          <li><a target="_blank" routerLink="/privacy">Privacy Policy</a></li>
          <li><a target="_blank" routerLink="/feedback">Feedback</a></li>
          <li><a target="_blank" routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="m-auto">
          <h4>Job Seeker</h4>
          <ul>
            <li><a target="_blank" routerLink="/user/dashboard/edit">Edit Resume</a></li>
            <li><a target="_blank" routerLink="/user/dashboard">My Jobs Account</a></li>
            <li><a target="_blank" routerLink="/counselling">Counselling</a></li>
            <li><a target="_blank" routerLink="/user_faq">FAQ</a></li>
            <li><a target="_blank" routerLink="/videos">Video Guides</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <h4>Employer</h4>
        <ul>
          <li><a target="_blank" routerLink="/employer/dashboard/post-job">Post Job</a></li>
          <li><a target="_blank" routerLink="/employer/dashboard">Dashboard</a></li>
          <li><a target="_blank" routerLink="/employer_faq">FAQ</a></li>
          <li>
            <p>Download Employer App</p>
          </li>
          <li><a target="_blank" href="https://play.google.com/"><img height="50px" src="../../../assets/images/google-play.png"
                alt="Google Play"></a></li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <h4>Social Media & Tools</h4>
        <ul>
          <li><a target="_blank" href="https://facebook.com"><img class="footer-icon" src="../../../assets/images/facebook-icon-circle.png">Facebook</a></li>
          <li><a target="_blank" href="https://twitter.com"><img class="footer-icon" src="../../../assets/images/twitter-icon-circle.png">Twitter</a></li>
          <li><a target="_blank" href="https://linkedin.com"><img class="footer-icon" src="../../../assets/images/linkedin_circle.png">Linkedin</a></li>
          <li><a target="_blank" href="https://youtube.com"><img class="footer-icon" src="../../../assets/images/youtube-circle-icon.png">Youtube</a></li>
          <li>
            <p>Download Mobile App</p>
          </li>
          <li><a target="_blank" href="https://play.google.com/"><img height="50px" src="../../../assets/images/google-play.png"
                alt="Google Play"></a></li>
          <li><a target="_blank" href="https://play.google.com/"><img height="50px" src="../../../assets/images/apple-app-store-icon.png"
                alt="App Store"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
