<mat-card>
  <mat-card-title>
    About TutorPedia
  </mat-card-title>

  <mat-card-content class="mat-body-1 mat-display-1">
  TutorPedia is a platform for easier communication between students or guardians and tutors.
  Students or guardians can hire tutor according to their requirements.
   And the tutor seekers will be able to choose
  the right person from the applicants.


  This web application is intended to provide complete solutions for tutors who are willing to do tuition as well as guardians/students through a single platform using the internet as the sole medium. It will enable tutors to setup a profile with his qualification, students or guardians can browse through the site and can hire tutors without having meetup with the tutor physically or not need to be known within tutors previously.
  </mat-card-content>
</mat-card>
