<mat-card>

  <form (submit)="onSaveUser(userform)"  #userform="ngForm">
    <mat-form-field>
      <input matInput
      placeholder="Name"
       name="name"
       [ngModel]="user?.name"
       required
       #name ="ngModel">

       <mat-error *ngIf="name.invalid">please post a valid name</mat-error>

    </mat-form-field>

    <mat-form-field>
      <input matInput
      placeholder="Father Name"
      name="fatherName"
      [ngModel]="user?.fatherName"
      #fatherName="ngModel">



      <mat-error *ngIf="fatherName.invalid">please post a valid input</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
      placeholder="motherName"
      name ="motherName"
      [ngModel] = "user?.motherName"
      #motherName="ngModel">



      <mat-error *ngIf="motherName.invalid">please post a valid input</mat-error>

    </mat-form-field>

    <mat-form-field>
      <input matInput
      placeholder="birthDate"
      type="date"
      name ="birthDate"
      [ngModel] ="user?.birthDate"
      required
      #birthDate="ngModel">



      <mat-error *ngIf="birthDate.invalid">please post a valid input</mat-error>

    </mat-form-field>

    <mat-form-field>
        <mat-select
        placeholder="gender"
        name="gender"
         [ngModel] ="user?.gender"

         #gender="ngModel">

          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="gender">please post a valid input</mat-error>

      </mat-form-field>

    <mat-form-field>
      <input
      matInput
      placeholder="religion"

      name="religion"
      [ngModel] = "user?.religion"

      #religion="ngModel">
      <mat-error *ngIf="religion.invalid">please post a valid input</mat-error>

    </mat-form-field>

    <mat-form-field>
      <mat-select
      matInput
      placeholder="maritalStatus"

      name="maritalStatus"
      [ngModel] ="user?.maritalStatus"

      #maritalStatus="ngModel">

      <mat-option value="Yes">Yes</mat-option>
      <mat-option value="No">No</mat-option>
    </mat-select>
      <mat-error *ngIf="maritalStatus">please post a valid input</mat-error>

    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      placeholder="nationality"
      type="text"
      name="nationality"
      [ngModel] ="user?.nationality"

      #nationality="ngModel">
      <mat-error *ngIf="nationality.invalid">please post a valid input</mat-error>

    </mat-form-field>

    <mat-form-field>
      <input
      matInput
      placeholder="nid"
      type="text"
      name="nid"
      [ngModel] = "user?.nid"

      #nid="ngModel">
      <mat-error *ngIf="nid.invalid">please post a valid input</mat-error>

    </mat-form-field>

    <mat-form-field>
        <input matInput
        placeholder="permanent_address"
        name="permanent_address"
        [ngModel] = "user?.permanent_address"

        #permanent_address="ngModel">





        <mat-error *ngIf="permanent_address">please post a valid input</mat-error>

      </mat-form-field>

    <mat-form-field>
      <input
      placeholder="current_address"
      matInput rows="4"
      name="current_address"
      [ngModel] = "user?.current_address"

      #current_address>



    <mat-error *ngIf="current_address">please post a valid input</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input
      placeholder="examTitle"
      matInput rows="4"
      name="examTitle"
      [ngModel] = "user?.examTitle"

      #examTitle>



    <mat-error *ngIf="examTitle.invalid">please post a valid input</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input
      placeholder="major"
      matInput rows="4"
      name="major"
      [ngModel] = "user?.major"

      #major>



    <mat-error *ngIf="major.invalid">please post a valid input</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input
      placeholder="institute"
      matInput rows="4"
      name="institute"
      [ngModel] = "user?.institute"

      #institute>



    <mat-error *ngIf="institute.invalid">please post a valid input</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input
      placeholder="result"
      matInput rows="4"
      name="result"
      [ngModel] = "user?.result"

      #result>



    <mat-error *ngIf="result.invalid">please post a valid input</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input
      placeholder="passingYear"
      matInput rows="4"
      name="passingYear"
      [ngModel] = "user?.passingYear"

      #passingYear>



    <mat-error *ngIf="passingYear.invalid">please post a valid input</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input
      placeholder="duration"
      matInput rows="4"
      name="duration"
      [ngModel] = "user?.duration"

      #duration>



    <mat-error *ngIf="duration.invalid">please post a valid input</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input
      placeholder="board"
      matInput rows="4"
      name="board"
      [ngModel] = "user?.board"

      #board>



    <mat-error *ngIf="board.invalid">please post a valid input</mat-error>

    </mat-form-field>
    <button
    mat-raised-button
    color="primary"
    type="submit">save post</button>
  </form>


</mat-card>
